
export(BasePks_Curated)
export(exploreRefs)
export(ChromParam)
export(CollectBP_EICs)
export(CreateDM)
export(DefineClassAttributes)
export(FilterDM)
export(LoadData)
export(MassSpecParam)
export(MedianNormalize)
export(OverlaidTICs)
export(PeakPickingParam)
export(Project)
export(getTICs)
export(getTIC)
export(RTalign_xset)
export(RTalign)
export(StatsByClass)
export(get100)
export(peakPickGroup)
export(ppgExData)
export(expRefData)
export(printEICs)
export(printEICsXset)
export(refTic)
export(xsetConvert)
export(autoCamera)
importFrom(utils, write.table)
importFrom(MSnbase, readMSData)
importFrom(xcms, CentWaveParam)
importFrom(xcms, PeakDensityParam)
importFrom(xcms, groupChromPeaks)
importFrom(xcms, findChromPeaks)
importFrom(xcms, sampnames)
importFrom(tools, file_path_sans_ext)
importFrom(xcms, featureValues)
importFrom(svDialogs, dlgInput)
importFrom(xcms, featureDefinitions)
importFrom(grDevices, rainbow)
importFrom(xcms, featureChromatograms)
importFrom(xcms, sampnames)
import(stats)
import(berryFunctions)
import(BiocManager)
import(gtools)
import(htmltools)
import(modeest)
import(plyr)
import(RANN)
import(sm)
import(snow)
import(tidyr)
importFrom(BiocParallel, register)
importFrom(BiocParallel, bpstart)
importFrom(BiocParallel, SnowParam)
importFrom(parallel, detectCores)
importFrom(fda, dirs)
importFrom(grDevices, graphics.off)
importFrom(grDevices,dev.off)
importFrom(grDevices, png)
importFrom(xcms, chromatogram)
importFrom(xcms, XChromatogram)
import(graphics)
importFrom(utils, choose.dir)
importFrom(utils, choose.files)
importFrom(xcms, retcor)
importFrom(graphics, par)
importFrom(xcms, xcmsRaw)
importFrom(xcms,rawEIC)
importFrom(xcms,filepaths)
importFrom(xcms,sampclass)
importFrom(graphics, points)
importFrom(grDevices, dev.off)
importFrom(graphics, legend)
importFrom(xcms, getEIC)
importFrom(xcms, adjustRtime)
importFrom(xcms, PeakGroupsParam)
importFrom(xcms, plotAdjustedRtime)
importFrom(xcms, sampnames)
importFrom(xcms, sampclass)
importFrom(xcms, mz)
importFrom(xcms, rtime)
importFrom(xcms, intensity)
importFrom(MSnbase, sampleNames)
importFrom(CAMERA,xsAnnotate)
importFrom(CAMERA,groupFWHM)
importFrom(CAMERA,findIsotopes)
importFrom(CAMERA,groupCorr)
importFrom(CAMERA,getPeaklist)

